body {
  margin: 0;
  font-family: "Poppins", serif;
}

.Label, .C3, .C2, .C1, .B4, .B3, .B2, .B1, .S2, .S1, h5, h4, h3, h2, h1 {
  font-family: "Poppins", serif;
  padding: 8px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

h5 {
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
}

.S1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.S2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.B1 {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.B2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.B3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.B4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.C1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.C2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.C3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.Label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.bg-primary {
  background-color: #1C75BA;
  fill: #1C75BA;
}

.bg-primary-900 {
  background-color: #1C75BA;
  fill: #1C75BA;
}

.bg-primary-800 {
  background-color: #1F82CF;
  fill: #1F82CF;
}

.bg-primary-700 {
  background-color: #298FDF;
  fill: #298FDF;
}

.bg-primary-600 {
  background-color: #3E9AE2;
  fill: #3E9AE2;
}

.bg-primary-500 {
  background-color: #53A6E5;
  fill: #53A6E5;
}

.bg-primary-400 {
  background-color: #69B1E8;
  fill: #69B1E8;
}

.bg-primary-300 {
  background-color: #7EBCEC;
  fill: #7EBCEC;
}

.bg-primary-200 {
  background-color: #94C7EF;
  fill: #94C7EF;
}

.bg-primary-100 {
  background-color: #A9D2F2;
  fill: #A9D2F2;
}

.bg-primary-50 {
  background-color: #EAF4FC;
  fill: #EAF4FC;
}

.bg-darkmode {
  background-color: #262D33;
  fill: #262D33;
}

.bg-darkmode-900 {
  background-color: #262D33;
  fill: #262D33;
}

.bg-darkmode-800 {
  background-color: #242B30;
  fill: #242B30;
}

.bg-darkmode-700 {
  background-color: #232A2F;
  fill: #232A2F;
}

.bg-darkmode-600 {
  background-color: #22282E;
  fill: #22282E;
}

.bg-darkmode-500 {
  background-color: #21272D;
  fill: #21272D;
}

.bg-darkmode-400 {
  background-color: #20262B;
  fill: #20262B;
}

.bg-darkmode-300 {
  background-color: #1F252A;
  fill: #1F252A;
}

.bg-darkmode-200 {
  background-color: #1E2429;
  fill: #1E2429;
}

.bg-darkmode-100 {
  background-color: #1D2328;
  fill: #1D2328;
}

.bg-darkmode-50 {
  background-color: #1C2226;
  fill: #1C2226;
}

.bg-secundary {
  background-color: #FE8012;
  fill: #FE8012;
}

.bg-secundary-900 {
  background-color: #FE8012;
  fill: #FE8012;
}

.bg-secundary-800 {
  background-color: #FE8C28;
  fill: #FE8C28;
}

.bg-secundary-700 {
  background-color: #FE973D;
  fill: #FE973D;
}

.bg-secundary-600 {
  background-color: #FEA353;
  fill: #FEA353;
}

.bg-secundary-500 {
  background-color: #FEAE68;
  fill: #FEAE68;
}

.bg-secundary-400 {
  background-color: #FEBA7E;
  fill: #FEBA7E;
}

.bg-secundary-300 {
  background-color: #FFC593;
  fill: #FFC593;
}

.bg-secundary-200 {
  background-color: #FFD1A9;
  fill: #FFD1A9;
}

.bg-secundary-100 {
  background-color: #FFDCBE;
  fill: #FFDCBE;
}

.bg-secundary-50 {
  background-color: #FFF3E9;
  fill: #FFF3E9;
}

.primary-900 {
  color: #1C75BA;
}

.primary {
  color: #1C75BA;
}

.primary-800 {
  color: #1F82CF;
}

.primary-700 {
  color: #298FDF;
}

.primary-600 {
  color: #3E9AE2;
}

.primary-500 {
  color: #53A6E5;
}

.primary-400 {
  color: #69B1E8;
}

.primary-300 {
  color: #7EBCEC;
}

.primary-200 {
  color: #94C7EF;
}

.primary-100 {
  color: #A9D2F2;
}

.primary-50 {
  color: #EAF4FC;
}

.secundary {
  color: #FE8012;
}

.secundary-900 {
  color: #FE8012;
}

.secundary-800 {
  color: #FE8C28;
}

.secundary-700 {
  color: #FE973D;
}

.secundary-600 {
  color: #FEA353;
}

.secundary-500 {
  color: #FEAE68;
}

.secundary-400 {
  color: #FEBA7E;
}

.secundary-300 {
  color: #FFC593;
}

.secundary-200 {
  color: #FFD1A9;
}

.secundary-100 {
  color: #FFDCBE;
}

.secundary-50 {
  color: #FFF3E9;
}

/*# sourceMappingURL=Archivo.css.map */
